.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header div,
form {
  margin: 0px 1%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  margin-left: 5px;
}

/* visited link */
a:visited {
  color: rgb(179, 53, 44);
}

/* unvisited link */
a:link {
  color: rgb(4, 116, 10);
}

/* Begin Stock Info Component Styling */

.StockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.InfoContainer {
  width: calc(88% + 10px);
  background: rgb(49, 49, 49);
  border: solid gray 1px;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.InfoPiece {
  min-width: 158px;
  background: rgb(12, 158, 168);
  border: solid gray 2px;
  border-radius: 15px;
  margin: 5px;
  min-height: 20px;
  text-align: left;
  padding: 0.5% 1%;
}

.companyCard {
  text-transform: uppercase;
  min-width: 200px;
  max-width: 350px;
  height: 30px;
  background: rgb(49, 49, 49);
  border: solid 2px grey;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  padding: 1% 1%;
  color: white;
  font-size: 18px;
}

/* Begin Finnhub Component Styling */

.FinnhubContainer {
  width: 44%;
  background: rgba(49, 49, 49, 0.8);
  border: solid gray 2px;
  border-radius: 5px;
  margin: 5px;
  min-height: 150px;
  color: white;
}

.FinnhubList {
  list-style-type: none;
  text-align: start;
  margin-left: -20px;
}

/* Begin IEX Component Styling */

.IEXContainer {
  width: 44%;
  background: rgba(49, 49, 49, 0.8);
  border: solid gray 2px;
  border-radius: 5px;
  margin: 5px;
  min-height: 200px;
  color: white;
}

.IEXList {
  list-style-type: none;
  text-align: start;
  margin-left: -20px;
}

.row {
  width: 45%;
  height: 200px;
  background: rgb(49, 49, 49);
  border: solid 2px grey;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  color: white;
}

.stockInput input {
  margin: 1px;
  border: solid 1px white;
  border-radius: 2px;
  box-shadow: none;
}

#sentiment,
#news,
#high,
#low {
  text-align: left;
}
