.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header div,
form {
  margin: 0px 1%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.FinnhubContainer {
  width: 40%;
  background: rgb(22, 99, 161);
  border: solid gray 1px;
  border-radius: 5px;
  margin: 5px;
}

.row {
  width: 45%;
  height: 200px;
  background: rgb(49, 49, 49);
  border: solid 2px grey;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  color: white;
}

.companyCard {
  width: 200px;
  height: 30px;
  background: rgb(49, 49, 49);
  border: solid 2px grey;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  color: white;
  font-size: 18px;
}

.stockInput input {
  margin: 1px;
  border: solid 1px white;
  border-radius: 2px;
  box-shadow: none;
}

table {
  margin: 3%;
}

#sentiment,
#news,
#high,
#low {
  text-align: left;
}

td {
  vertical-align: right;
}
